import * as React from 'react';

interface Props {
  path?: string;
}

const {{ properCase name }}: React.FC<Props> = ({children}) => (
  <div>
     {{ properCase name }} content
  </div>
);

export default {{ properCase name }};
